@font-face {
    font-family: domaine;
    src: url(TestDomaineSansDisplay-Semibold.otf);
}
@font-face {
    font-family: domaine-regular;
    src: url(TestDomaineSansDisplay-Regular.otf);
}
@font-face {
    font-family: circular; 
    src: url(circular-std-medium-500.ttf);
}
@media screen and (min-width: 540px){
    .banner{
        min-height: 303px !important;   
    }
}
@media screen and (min-width: 768px){
    .banner{
        min-height: 431px !important;         
    }
    .banner__nav{
        padding: 15px 23% 30px 23% !important;
    }
    .banner_nav_list .item, .heading.small_font--size{
        font-size: 12px !important;
    }
    .heading.domaine_font{
        font-size: 40px !important;
    }
    .description__text{
        font-size: 60px !important;
        padding-top: 60px !important;
        line-height: 60px !important;
    }
    .domaine--size{
        font-size: 25px !important;
        line-height: 30px !important;
    }
    .description__content{
        padding: 36px 0 80px 0 !important;
    }
    .slider{
        font-size: 26px !important;
    }
    .slider__feature{
        display: flex !important;
    }
    .feature__labels{
        display: block !important;
        padding-top:50px !important;
        padding-right: 60px !important;
    }
    .featured__works{
        padding-bottom: 24px !important;
    }
    .view__all{
        font-size: 6px !important;
        padding-top: 25px !important;
    }
    .view_all_circle{
        margin: 0 auto !important;
        height: 50px !important;
        width: 50px !important;
    }
    .feature__images img{
        width: 180px !important;
        height: 250px !important;
    }
    .feature__images{
        height: 250px !important;
    }
    .product__images img{
        width: 215px !important
    }
    .contact__details{
        padding: 70px 40px 30px 40px !important;
    }
    .contact__image{
        width: 330px!important;
    }
    .contact__footer{
        font-size: 10px !important;
    }
    .more_details .domaine_regular{
        font-size: 18px !important;
    }
    .more_details .small--heading{
        padding-bottom: 25px !important;
        font-size: 12px !important;
        letter-spacing: 14px !important;
    }
}
@media screen and (min-width: 992px){
    .banner{
        min-height: 560px !important;   
    }
    .contact__image{
        width: 420px !important;
    }

}
@media screen and (min-width: 1200px){
    .banner{
        max-height: 1078px !important;
        height: 100vh !important;
    }
    .banner__nav{
        padding: 37px 23% 72px 23% !important;
    }
    .banner_nav_list .item, .heading.small_font--size{
        font-size: 16px !important;
    }
    .heading.small_font--size{
        line-height: 20px;
    }
    .heading.domaine_font{
        font-size: 100px !important;
    }
    .description__text{
        font-size: 150px !important;
        padding-top: 150px !important;
        line-height: 150px !important;
    }
    .heading.freelance{
        padding-top: 100px !important;
    }
    .description__content{
        padding: 90px 0 200px 0 !important;
    }
    .domaine--size{
        font-size: 64px !important;
        line-height: 77.12px !important;
    }
    .slider{
        padding-left: 60px !important;
        font-size: 64px !important;
    }
    .slider__feature{
        display: flex !important;
        padding: 188px 0 127px 0 !important;
    }
    .feature__labels{
        display: block !important;
        padding-top: 158px !important;
        padding-right: 230px !important;
    }
    .featured__works{
        padding-bottom: 59px !important;
    }
    .view_all_circle{
        margin: 0 auto !important;
        height: 100px !important;
        width: 100px !important;
    }
    .view__all{
        font-size: 14px !important;
        padding-top: 50px !important;
    }
    .feature__images img{
        width: 450px !important;
        height: 628px !important;
    }
    .feature__images{
        height: 628px !important;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .slider__products{
        padding-bottom: 240px !important;
    }
    .slider_product_labels{
        padding: 178px 600px 98px 600px !important;
    }
    .slider_product_labels.domaine_regular{
        line-height: 53px !important;
    }
    .item_count{
        width: 64px !important;
        height: 64px !important;
        font-size: 30px !important;
    }
    .product__images img{
        width: 534px !important;
        height: 714px !important;
    }
    .contact__heading{
        font-size: 150px !important;
        line-height: 180px;
        padding-bottom: 102px !important;
    }
    .contact__number{
        font-size: 64px !important;
        line-height: 92px !important;
        padding-bottom: 113px !important;
    }
    .contact__details{
        padding: 170px 5% 80px 5% !important;
    }
    .more_details .small--heading{
        padding-bottom: 14px !important;
        font-size: 18px !important;
    }
    .more_details .domaine_regular{
        font-size: 44px !important;
    }
    .contact__footer{
        font-size: 24px !important;
    }
    .contact__image{
        width: 560px !important;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
.domaine_font{
    font-family: domaine;
}
.domaine_regular{
    font-family: domaine-regular;
}
.circular_font{
    font-family: circular;
}
.banner{
    color: white;
    width: 100%;
    height: 215px;
    background-image: url('images/header-image.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: none;
    text-align: center;
}
.banner__nav{
    position: fixed;
    background: linear-gradient(180deg, rgba(9, 29, 26, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    padding: 10px 50px;
}
.banner_nav_list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.small_font--size{
    font-size: 8px; 
    line-height: 120.5%;
}
.heading.circular_spacing{
    letter-spacing: 1.28em;
}
.banner__heading{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.heading.domaine_font{
    font-size: 30px;
    line-height: 110%;
}
.description{
    width: 100%;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
}
.description__text{
    font-weight: 400;
    padding-top: 40px;
    line-height: 30px;
    font-size: 30px;
}
.heading.freelance{
    padding-top: 20px;
    color: #03325B;
}
.description__content{ 
    margin: 0 auto;
    padding: 20px 0 41px ;
    color: #03325B;
}
.slider{
    width: 100%;
    background-color: #A7C6E3;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
}
.slider__feature{
    display: block;
    padding: 35px 0 25px 0;
}
.domaine--size{
    font-size: 1em;
    line-height: 0.9em;
    letter-spacing: 0.04em;
}
.feature__labels{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-left: 50px; */
    /* padding-top: 30px;
    padding-right: 35px; */    
}
.featured__works{
    padding-top: 5px;
    text-align: center;
    padding-bottom: 12px;
}
.view_all_circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
}
.view__all{
    padding-top: 18px;
    text-align: center;
    font-size: 0.35rem;
    line-height: 3px;
}
.feature__images img{
    width: 140px;
    height: 170px;
}
.feature__images{
    gap: 20px;
    display: flex;
    overflow-x: scroll;
    height: 180px;
    scroll-behavior: smooth;
}
.feature__images::-webkit-scrollbar{
    display: none;
}
.feature__images{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}
/* .featured_watches, .featured_cup {
    width: 90px;
    height: 120px;
}
.feature_woman{
    width: 50px;
    height: 120px;
} */
/* .feature{
    width: 90px;
    height: 125px;
} */
.slider__products{
    padding-bottom: 45px;
}
.slider_product_labels{
    padding-top: 30px;
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 0.6em;
}
.product__label, .potrait__label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.29em;
}
.product_heading{
    text-decoration: line-through; 
    text-decoration-color: black; 
}
.item_count{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.product_label_6{
    background-color: #35516B;
    border: 1px solid #35516B;
}
.potrait_label_5{
    border: 1px solid white;
}
.slider_product_labels.domaine_regular{
    font-size: 0.7em;
    line-height: 12px;
    letter-spacing: 1%;
}
.product__images{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.product__images img{
    width: 100px;
}
.product__images::-webkit-scrollbar{
    display: none;
}
.product__images{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}
.contact{
    width: 100%;
    text-align: center;
}
.contact__heading{
    margin: 0 auto;
    padding-top: 110px;
    font-size: 30px;
    padding-bottom: 20px;
}
.contact__number{
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 22px;
}
.contact__image{
    position: relative;
    width: 170px;
    margin: 0 auto;
    margin-bottom: -6px;
}
.contact__details{
    width: 100%;
    background-color: black;
    color: white;
    padding: 35px 20px 16px 20px;
}
.more_details{
    display: flex;
    text-align: left;
    justify-content: space-between;
    vertical-align: top;
    padding-bottom: 30px;
}
.contact__social{
    list-style: none;
    text-align: left;
}
.more_details .small--heading{
    padding-bottom: 13px;
    font-size: 6px;
    letter-spacing: 7px;
    color: #6C6C6C;
}
.more_details .domaine_regular{
    font-size: 14px;
}
.contact__footer{
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    padding-top: 3%;
}
